In [ ]:
fruits = ["Apple", "Peach", "Pear"]
for item in fruits:
  print(item)

Apple
Peach
Pear

In [ ]:
for i in range(9, 51):
  if i % 2 == 0:
    print(i, " is divisible by 2")

In [ ]:
name = "joker jack"

count = 0
for char in name:
    if char != 'j':
        continue
    else:
        count = count + 1

print('Total number of j is:', count)

Total number of j is: 2

**Calculate Average Height**

In [ ]:
student_heights = input("Enter the list of heights ").split( )

#casting each string from list to int
for i in range(0, len(student_heights)):
  student_heights[i] = int(student_heights[i])

total_height = 0
for height in student_heights:
  total_height += height
#print(total_height)

student_count = 0
for student in student_heights:
  student_count += 1 
#print(student_count)

avg_height = round(total_height / student_count)
print(f"The average height of the student is {avg_height}")

Enter the list of heights 130 140 145 150
The average height of the student is 141

**Find The Heighest Score**

In [ ]:
student_scores = input("Input a list of student scores ").split(",")
for n in range(0, len(student_scores)):
  student_scores[n] = int(student_scores[n])

highest_score = 0
for score in student_scores:
  if score > highest_score:
    highest_score = score
print(highest_score)

Input a list of student scores 2, 3, 4
4

**For Loop with Range()**

In [6]:
x = 0
for num in range(1, 101):
  x += num  #or x = num + x
print(x)

5050

**Adding Even Numbers**

In [19]:
total = 0
for num in range(1, 101):
  if num % 2 == 0:
    total = num + total
print(total)

2550

**The FizzBuzz**

In [32]:

for num in range(1, 101):
  if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
  elif num % 5 == 0:
      print("Buzz")
  elif num % 3 == 0:
      print("Fizz")
  else:
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz